
html {
    background-color: #232;
    font-family: sans-serif;
    margin-top: 0;
    padding: 2ex;
    padding-top: 0;
}
body {
    margin: 0;
    padding: 2ex;
    padding-top: 0;
    background-color: #eee;
}

body::content {
}

body.ARTICLE {
    background-color: #efe;
}

body.AUDIO, body.VIDEO {
    background-color: #fde;
}

img {
    float: right;
    padding: 1ex;
    padding-right: 0;

}
h1 {
    color: white;
    text-align: center;
    padding: 2ex;
    margin: 2ex;
    margin-left: -2ex;
    margin-right: -2ex;
    background: #232 url('{{logo}}') left no-repeat;

}
h1::after {

}
h2, h3, h4 {
    color: #252;
}
a:visited, a:link {
    text-decoration: none;
}
a:link {
    color: #060;
}
a:hover {
    text-decoration: underline;
}

a:visited {
    color: #030;
}
.date {
    font-style: italic;
}