<html lang="nl">
<head>
    {% include 'headers.html' %}
    <title>{{ profile }} - {{  page.title }}</title>
  </head>
  <body class="{{ page.type }}">

    <h1>{{ page.title or "Niet gevonden"}}</h1>
    <p class="date">{{ (page.sortDate or 0) | formattime }}</p>
    {% if page.portal %}
    <p class="portal"><a href="/portal/{{ page.portal.id }}">{{ page.portal.value }}</a></p>
        {%  if page.portal.section %}
            <p class="section"><a href="/section/{{ page.portal.section.id }}">{{ page.portal.section.value }}</a></p>
        {%  endif %}
    {% endif %}
     {% for image in page.images %}
          <img src="{{ image.url }}" alt="{{ image.title }}" />
     {% endfor %}
     <h2>{{  page.subTitle }}</h2>
      <p class="summary"> {{  page.summary }}</p>
      {% for paragraph in page.paragraphs %}
          <h3>{{ paragraph.title }}</h3>
          <p>{{ paragraph.body }}</p>
     {% endfor %}
    {% if page.embeds %}
    <h2>Embed</h2>
    <ul>
        {% for embed in page.embeds %}
            <li>Hier kun je een player zetten voor {{  embed.media.mid }}: {{ embed.media.titles[0].value }}</li>
        {%  endfor %}
    </ul>
    {%  endif %}
    {% if page.links %}
    <h2>Links</h2>
    <ul>
        {% for link in page.links %}
            <li><a href="/page/{{ link.pageRef }}">{{ link.text }}</a></li>
        {%  endfor %}
    </ul>
    {%  endif %}
    {% if page.referrals %}
    <h2>Referenties</h2>
    <ul>
        {% for link in page.referrals %}
            <li><a href="/page/{{ link.referrer }}">{{ link.title }}</a></li>
        {%  endfor %}
    </ul>
    {%  endif %}
    <p><a href="{{ page.url }}">Orginele pagina</a></p>
    <p class="keywords">
        {% for keyword in page.keywords %}
            {% if loop.first %} keywords: {% endif %}
            <a href="/keyword/{{ keyword }}">{{  keyword }}</a>
            {%- if not loop.last %}, {% endif -%}
        {%  endfor %}
    </p>
     <p class="crids">
        {% for crid in page.crids %}
            {{ crid }}:
            <a target="api" href="https://publish.pages.omroep.nl/api/pages/updates?url={{ crid | urlencode }}&amp;loadDeleted=true&amp;match=CRID">update</a> |
            <a target="api" href="https://rs.poms.omroep.nl/v1/api/pages/multiple?ids={{ crid | urlencode }}&amp;properties=all">published</a>
            {% if not loop.last %}<br />{% endif %}
        {%  endfor %}
    </p>
    <p>

    </p>
    <a href="/" target="api">Terug</a>
  </body>
</html>
